html,
body {
}

body {
  font-family: $font-body--regular;
}

h1, h2, h3, h4, h5, h6, hr, p {
  margin: 0;
  padding: 0;
}

small, .small {
  font-size: inherit
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 1vw;
  border-radius: 20px;
  border: 1px solid color('shades', 'black');
  background-color: green;
}

::-webkit-scroll-thumb {
  background-color: pink;
}

::-webkit-scroll-track {
  background-color: yellow;
}

::-webkit-scrollbar-track-piece {
  width: 1vw;
  background-color: orange;
}
