.l-app {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: color('shades', 'background');
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: block;
  }

  &_hero {
    width: 100%;
    height: 100vh;
    min-height: 656px;
  }

  &_page {
    width: 100%;
    height: 100vh;
    min-height: 656px;
  }
}
