.l-contact-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  &_header {
    // flex: 0 1 auto;
    margin-top: 5vh;
  }

  &_body {
    // flex: 0 1 auto;
    width: 100%;
    // margin-top: 2vh;
  }
}
