.l-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: color('shades', 'white');

  &--contact {
    background-color: color('grey', 'base');
  }

  &_header {
    flex: 0 0 auto;
  }

  &_main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_footer {
    flex: 0 0 auto;
    background-color: color('shades', 'background');
  }
}
