.c-header {
  color: color('shades', 'white');

  &_title {
    font-family: $font-heading;
    font-size: 57px;
    text-align: center;
  }

  &_subtitle {
    margin-top: 1vh;
    font-size: 16px;
    text-align: center;
    font-family: $font-body--semibold;
  }
}
